<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>

</head>
  <body class="bg-inverse" style="background-color: #000000">
    <header>
      <nav class="navbar navbar-light bg-warning">
        <a class="navbar-brand logo font-weight-bold" href="/">My wiki</a>
          <table>
    <tr><!-- all buttons in main window -->
        <th style="width: 200px;"><a style="color: #000000;" href="/favorites"> Favorites</a></th>
        <th style="width: 200px;"><a style="color: #000000;" href="/"> Find information </a></th>
    </tr>
</table>
        {% if "username" in session %}
            <a class="navbar-brand" href="/logout">{{session['username']}}</a>
        {% endif %}
          {% if "username" not in session %}
            <a class="navbar-brand" href="/login">Login</a>
        {% endif %}
      </nav>

    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>
